---
- name: Create the backup directory.
  file:
    state: directory
    path: "/home/{{user}}/backup/"
    owner: "{{user}}"
    group: www-data
    mode: 0755
- name: Copy the backup script
  copy:
    src: backup.sh
    dest: "/home/{{user}}/backup/backup.sh"
    owner: tchap
    group: www-data
    mode: 0755
- name: Ensure the base directory is written in the conf
  lineinfile:
    dest: "/home/{{user}}/backup/backup.sh"
    insertafter: "# Home root directory"
    line: "HOME_DIR='/home/{{user}}'"
- name: Ensure the backup password is written in the conf
  lineinfile:
    dest: "/home/{{user}}/backup/backup.sh"
    insertafter: "MYSQL_USER='backup'"
    line: "MYSQL_PASSWORD='{{ lookup('file', '/tmp/mysqlbackuppassword') }}'"
- name: Add the cron task for backups
  cron:
    user: "{{user}}"
    name: "Backup"
    hour: "03"
    minute: "42"
    job: "/home/{{user}}/backup/backup.sh"
