---
- name: Ensure python-apt is installed
  shell: 'apt-get install -y python-apt'
- name: Update apt
  apt: update_cache=yes
- name: Upgrade apt
  apt: upgrade=full
- name: Ensure sudo is installed
  apt:
    pkg: sudo
    state: latest
- name: Add backports debian repo
  apt_repository:
    repo: "deb http://ftp.us.debian.org/debian wheezy-backports main"
    state: present
- name: "Add user to sudo group"
  command: "adduser {{user}} sudo"
- name: "Make user sudo with no-password"
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^{{user}} ALL="
    line: "{{user}} ALL=(ALL) NOPASSWD:ALL"
    validate: 'visudo -cf %s'
    create: True
- name: Install base packages
  apt:
    pkg: "{{ item }}"
    state: installed
  with_items:
   - git
   - unzip
   - curl
   - vim